@font-face {
  font-family: "FiraSans-Bold";
  src: url("../assets/fonts/FiraSans-Bold.ttf");
  font-weight: bold;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans-Medium";
  src: url("../assets/fonts/FiraSans-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans-Regular";
  src: url("../assets/fonts/FiraSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans-Light";
  src: url("../assets/fonts/FiraSans-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
